.about-me {
  background-color: rgba($mainWhite, .7);
  padding: 0 .5rem 1px .5rem;
  margin-top: 12rem;
  border-radius: 5rem 5rem 0 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

  &__photo {
    border-radius: 4rem;
    overflow: hidden;
    width: 150px;
    height: 180px;
    margin: 0 auto -150px auto;
    position: relative;
    top: -9rem;
    border: 6px solid rgba($mainWhite, .7);

    & img {
      transform: translate(0,-10px);
    }
  }
}
