.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
  margin-bottom: .5rem;

  &:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  }

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    font-size: 1.25rem;
    padding: 1.1rem 1.9rem;
  }
}
