.feature-item {
  position: relative;
  padding-bottom: 2.5rem;

  @mixin atSmall {
    padding-left: 24px;
  }

/* Begin Styling Modifiers */


/* Begin Styling Elements */
  &__icon {
    display: block;
    margin: 0 auto;

    @mixin atSmall {
      position: relative;
      top: 8px;
      margin: 0 .5rem 0 0;
      display: inline-block;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: .8rem;

    @mixin atSmall {
      font-size: 1.6rem;
    }

    @mixin atMedium {
      font-size: 2rem;
    }
  }

  /* Begin Styling Modifiers */


}
