.generic-content-container{
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;

  p{
    font-weight: 300;
    line-height: 1.65;
    margin:0 0 1.8rem 0;
    padding: 0 .5rem 0 .5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

    @mixin atSmall{
      font-size: 1.125rem;
      padding: 0 .75rem 0 .75rem;
    }
  }

  
}
