.headline {
  font-size: 1.75rem;
  color: $mainWhite;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);

    @mixin atSmall {
      font-size: 2.25rem;
    }

    @mixin atMedium {
      font-size: 2.875rem;
    }

/* Begin Styling Modifiers*/
  &--centered {
    text-align: center;
  }

  &--medium {
    font-size: 1.4rem;
    font-weight: light;

    @mixin atSmall {
      font-size: 1.875rem;
    }

    @mixin atMedium {
      font-size: 2.25rem;
    }

  }

  &--small {
    font-size: 1.2rem;
    font-weight: 300;

    @mixin atSmall {
      font-size: 1.5rem;
    }

    @mixin atMedium {
      font-size: 2rem;
    }
  }

/* Begin Styling Modifiers */
  &--blue {
    color: $mainBlue;
  }

  &--lightBlue {
    color: $lightBlue;
  }

/* Begin Styling Elements */
  &__description {
    font-size: .9rem;
    line-height: 1.5em;
    font-weight: 400;
    color: $mainBlue;
  }

}
