.headline {
  font-weight: 300;
  font-size: 1.75rem;
  color: $mainGrey;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);

    @mixin atSmall {
      font-size: 2.25rem;
    }

    @mixin atMedium {
      font-size: 2.875rem;
    }

/* Begin Styling Modifiers*/
  &--first {
    padding-top: 60px;
    margin-bottom: 0;
  }

  &--centered {
    text-align: center;
  }

  &--medium {
    color: $mainBlue;
    font-size: 1.25rem;
    font-weight: 300;

    @mixin atSmall {
      font-size: 1.75rem;
    }

    @mixin atMedium {
      font-size: 2.25rem;
    }
  }

  &--small {
    color: $mainBlue;
    font-size: 1rem;
    font-weight: 200;

    @mixin atSmall {
      font-size: 1.5rem;
    }
  }

/* Begin Styling Elements */
  &__description {
    font-size: .9rem;
    line-height: 1.5em;
    font-weight: 400;
    color: $mainBlue;

    &mixin atSmall {
      font-size: 1.25rem;
    }
  }
}
