.headline {
  font-size: 1.75rem;
  color: $mainWhite;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  margin-top: 0;
  padding-top: 2rem;

    @mixin atSmall {
      font-size: 2.25rem;
    }

    @mixin atMedium {
      font-size: 2.875rem;
    }

/* Begin Styling Modifiers*/
  &--first {
    padding-top: 8em;
    margin-bottom: 0;
  }

  &--centered {
    text-align: center;
  }

  &--blue {
    color: $mainBlue;
  }

  &--lightBlue {
    color: $lightBlue;
  }

  &--orange {
    color: $lightOrange;
  }

/* Begin Styling Elements */
  &__description {
    font-size: .9rem;
    line-height: 1.5em;
    font-weight: 400;
    color: $mainBlue;
  }

  &__section-title {
    font-size: 1.5rem;
    font-weight: light;
    margin-top: .7em;
    margin-bottom: .6rem;

    @mixin atSmall {
      font-size: 1.875rem;
    }

    @mixin atMedium {
      font-size: 2.25rem;
    }

  }
}
