.mc-field-group {
  text-align: center;
  display: inline-block;
  margin-top: .5rem;


  &--input {
    width: 75%;
    border-radius: .25em;
    border: 1px solid $mainBlue;
    padding: .25rem .25rem;
  }

  &--important-text {
    color: $lightBlue;
  }

  &--asterisk {
    color: $mainOrange;
  }

  &--btn {
    margin-top: 1rem;
  }
}
