.page-section {
  padding: .25rem .25rem;
  text-align: center;
  margin-bottom: 1.25rem;

@mixin atSmall {
  padding: .5rem 0;
}

@mixin atMedium {
  padding: 1.5rem 0;

  &--get-to-know-me {
    padding: 0rem 1rem;
    background: url('/assets/images/MountainBackdrop_hi-dpi.jpg') top center no-repeat;
    background-size: cover;
  }
}

/* Begin Styling Modifiers */
  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }

  &--modal {
    padding-bottom: 0;
    margin-bottom: 0;
    color: $mainBlue;

    @mixin atSmall {
      margin-bottom: -1.25rem;
    }
  }

}
