.page-section {
  text-align: center;
  background: $mainWhite;

@mixin atSmall {
  padding: .5rem 0;
}

@mixin atMedium {
  padding: 1.5rem 0;
  }

/* Begin Styling Modifiers */
  &--hero {

    &.lazyloaded {
      height: 100vh;
      padding: 0rem 1rem;
      background: url('/assets/images/background/filip-mroz-235735.jpg') top center no-repeat fixed;
      background-size: cover;
    }

    @mixin atMedium {
      margin-top: 4.25rem;
    }
  }

  &--get-to-know-me {

    &.lazyloaded {
      padding: 0rem 1rem;
      background: url('/assets/images/background/Ian-Baldwin-Unsplash.jpg') top center no-repeat fixed;
      background-size: cover;
    }
  }

  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }


}
