.row {
  @mixin clearfix;

/* Begin modifier styling */
  &--gutters {
    margin-right: -4rem;
  }

  &--gutters > div {
    padding-right: 4rem;
  }

  @mixin atMedium{
    &__medium-6 {
      float: left;
      width: 50%;

    &__medium-12{
      float: left;
      width: 100%;
    }
    }
  }
}
