.row {
  @mixin clearfix;

/* Begin Styling Modifiers */
  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px
  }

  @mixin atMedium{
    &__medium-6 {
      float: left;
      width: 50%;

    &__medium-12{
      float: left;
      width: 100%;
    }
    }
  }

  /* Begin Equal Height Rules */
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;

      & > p {
        float: none;
        display: flex;
      }
    }
  }
}
