.section-title {
  font-size: 2.55rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  margin-top: .5em;

  @mixin atSmall {
    text-align: center;
    display: inline-block;
    font-size: 3.75rem;
  }

  /* Begin Styling Modifiers */
  &--last {
      margin-top: 2em;
  }

  &--less-margin {
    margin-top: 0;
    margin-bottom: .5rem;

    @mixin atSmall {
      margin-bottom: 1.3rem;
    }
  }

/* Begin Styling Elements */
  &__icon {
    display: block;
    margin: 1.1rem auto .25rem auto;

    @mixin atSmall {
      display: inline-block;
      margin: -.6rem .5rem 0 0;
      padding-bottom: 1em;
    }
  }
}
