.services {
  border: 2px solid rgba(255, 255, 255, .4);
  border-radius: 4px;
  padding: 0 1.5rem 1px 1.5rem;
  margin-bottom: .5em;
  transition: transform .01s;

  @mixin atMedium {
    &:hover {
      transform: scale(1.03) ;
    }
  }

  /* Begin Styling Elements */
  &__heading {
    background-color: rgba(112, 179, 230, .4);
    border-radius: 32px;
    overflow: hidden;
    width: 60px;
    height: 64px;
    margin: 0 auto 0 auto;
  }
}
