.site-header {
  position: absolute;
  z-index: 2;
  background-color: rgba($mainBlue, .5);
  width: 100%;
  padding: 10px 0;

  /*
  margin-top: -1.4525rem;

  @mixin atSmall {
    margin-top: -1.8675rem;
  }

  @mixin atMedium {
    margin-top: -2.38625rem;
  }
  */


/* Begin Styling Elements */
  &__btn-container {
    float: right;
  }

  &__logo {
    position: absolute;
    top: 0;
    background-color: $mainBlue;
    padding: 25px 36px;

    &__graphic {
      text-indent: -9999px;
    }
  }


}
