.site-header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 10px 0;
  transition: background-color .3s ease-out;

/* Begin Styling Modifiers */
  &--is-expanded {
    background-color: rgba($mainBlue, .55);
  }

  @mixin atMedium {
    position: fixed;
    background-color: rgba($mainBlue, .5);

    &--dark {
      background-color: rgba(23, 51, 72, .9);
    }
  }

/* Begin Styling Elements */
  &__btn-container {
    @mixin atMedium {
      float: right;
    }

  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.95);
    transform-origin: 50% 0;
    padding: 10px 10px;
    transition: all .3s ease-out;


    @mixin atMedium {
      position: fixed;
      left: -5rem;
      transform: translateX(0);
      padding: 10px 75rem 10px 20.5rem;

      .site-header--dark & {
        left: 16%;
        background-color: rgba($mainWhite, .4);
        padding: .95rem 10px;
        transform: scale(.755);
      }
    }

    &__graphic {
      text-indent: -9999px;
    }
  }

  &__menu-icon {
    width: 25px;
    height: 24px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    border-radius: 2px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 5px;
      background-color: $lightBlue;
      border-radius: 2px;
      transform-origin: 0 0;
      transition: all .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 10px;
      left: 0;
      width: 25px;
      height: 5px;
      background-color: $lightBlue;
      border-radius: 2px;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 25px;
      height: 5px;
      background-color: $lightBlue;
      border-radius: 2px;
      transform-origin: 0 100%;
      transition: all .3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      background-color: #FFF;
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      background-color: #FFF;
      transform: rotate(-45deg) scaleX(1.22) translateY(1px);
    }
  }


  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -10;
    padding: 70px 0 20px 0;
    text-align: center;


    @mixin atMedium{
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }

}
