.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

/* Begin Styling Modifiers */
  &--medium {
    max-width: 976px;
  }

  &--narrow {
    max-width: 470px;
  }

  &--little-padding-until-small {
    padding-left: 9px;
    padding-right: 9px;

    @mixin atSmall {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
